SUBSYSTEM=="usb", ATTRS{idVendor}=="0bc7", ATTRS{idProduct}=="0001", ACTION=="add", RUN+="/usr/bin/mochad_logger /etc/mochad_logger/mochad_logger.conf"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0bc7", ATTRS{idProduct}=="0002", ACTION=="add", RUN+="/usr/bin/mochad_logger /etc/mochad_logger/mochad_logger.conf"
